#loadingOverlay{

    position:fixed;

    inset:0;

    background:rgba(255,255,255,.95);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:999999;

}

.loader-box{

    text-align:center;

    font-family:Poppins,sans-serif;

}

.loader-logo{

    font-size:60px;

    color:#2563eb;

    margin-bottom:15px;

}

.spinner{

    width:55px;

    height:55px;

    border:5px solid #dbeafe;

    border-top:5px solid #2563eb;

    border-radius:50%;

    animation:spin .8s linear infinite;

    margin:auto;

}

.loader-box h2{

    margin:15px 0 5px;

}

.loader-box p{

    color:#666;

}

@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}